.body {
  font-family: "Dosis", sans-serif;
}

.banner {
  background-color: #3f00a3;
  width: 100%;
  height: 25%;
}

.btn {
  background-color: transparent;
  border-style: none;
}

.btn:hover {
  background-color: #592f9e;
}

.btn:active {
  background-color: #592f9e !important;
}

@media (min-width: 576px) {
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) {
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) {
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) {
}
